	
	$jaune: #ead272;
	$vert: #1b5846;
	$rouge: #c73f43;
	$bleu: #2c3d75;
	$gris: #f2f2f2;


html, body{
	margin: 0;
	padding: 0;
	min-height: 100%;
	background-color: $gris;
	// overflow: hidden;
}

body{
	min-height: 100%;
	color: $bleu;
	position: relative;

// *::selection {
//   background: rgba(0,0,0,0); /* WebKit/Blink Browsers */
// }
// *::-moz-selection {
//   background: rgba(0,0,0,0); /* Gecko Browsers */
// }

	a{
		color: $bleu;
		text-decoration: none;
		font-weight: 400;
		outline: none;
	}

	a:focus{
		outline:0;
	} 

	.vert{
		color: $vert;
	}

	.jaune{
		color: $jaune;
	}

	.rouge{
		color: $rouge;
	}

	.span{
		font-family: 'Dosis', sans-serif;
		font-weight: 700;
	} 

	.hide{
		display: none;
	}

	.show{
		display: block;
	}

	.u-open{
		opacity: 1;
		visibility: visible;
	}

	.u-close{
		opacity: 0;
		visibility: hidden;
	}

	@keyframes translate-trois {
		0% {
    		transform: translateY(-2px);
			-ms-transform: translateY(-2px);
    		-webkit-transform: translateY(-2px);
		}
	    25% {
	    	transform: translateY(3px);
			-ms-transform: translateY(3px);
    		-webkit-transform: translateY(3px);
	    }
	    50% {
    		transform: translateY(-2px);
			-ms-transform: translateY(-2px);
    		-webkit-transform: translateY(-2px);
	    }
	    75% {
	    	transform: translateY(3px);
			-ms-transform: translateY(3px);
    		-webkit-transform: translateY(3px);
	    }
	    100% {
	    	transform: translateY(-2px);
			-ms-transform: translateY(-2px);
    		-webkit-transform: translateY(-2px);
	    }
	}


	@keyframes translate-deux {
		0% {
    		transform: translateY(-3px);
			-ms-transform: translateY(-3px);
    		-webkit-transform: translateY(-3px);
		}
	    25% {
	    	transform: translateY(2px);
			-ms-transform: translateY(2px);
    		-webkit-transform: translateY(2px);
	    }
	    50% {
    		transform: translateY(-3px);
			-ms-transform: translateY(-3px);
    		-webkit-transform: translateY(-3px);
	    }
	    75% {
	    	transform: translateY(2px);
			-ms-transform: translateY(2px);
    		-webkit-transform: translateY(2px);
	    }
	    100% {
	    	transform: translateY(-3px);
			-ms-transform: translateY(-3px);
    		-webkit-transform: translateY(-3px);
	    }
	}


	@keyframes translate {
		0% {
			transform: translateY(2px);
			-ms-transform: translateY(2px);
    		-webkit-transform: translateY(2px);
		}
	    25% {
	    	transform: translateY(-3px);
			-ms-transform: translateY(-3px);
    		-webkit-transform: translateY(-3px);
	    }
	    50% {
	    	transform: translateY(2px);
			-ms-transform: translateY(2px);
    		-webkit-transform: translateY(2px);
	    }
	    75% {
	    	transform: translateY(-3px);
			-ms-transform: translateY(-3px);
    		-webkit-transform: translateY(-3px);
	    }
	    100% {
	    	transform: translateY(3px);
			-ms-transform: translateY(3px);
    		-webkit-transform: translateY(3px);
	    }
	}

	@keyframes scale {
		0% {
			transform: scale(1);
			-ms-transform: scale(1);
    		-webkit-transform: scale(1);
		}
	    25% {
	    	transform: scale(0.75);
			-ms-transform: scale(0.75);
    		-webkit-transform: scale(0.75);
	    }
	    50% {
	    	transform: scale(1);
			-ms-transform: scale(1);
    		-webkit-transform: scale(1);
	    }
	    75% {
	    	transform: scale(0.75);
			-ms-transform: scale(0.75);
    		-webkit-transform: scale(0.75);
	    }
	    100% {
	    	transform: scale(1);
			-ms-transform: scale(1);
    		-webkit-transform: scale(1);
	    }
	}

	@keyframes boom {
		0% {
			transform: scale(1.05);
			-ms-transform: scale(1.05);
    		-webkit-transform: scale(1.05);
		}
	    20% {
	    	transform: scale(0.9);
			-ms-transform: scale(0.9);
    		-webkit-transform: scale(0.9);
	    }
	    45% {
	    	transform: scale(1);
			-ms-transform: scale(1);
    		-webkit-transform: scale(1);
	    }
	    60%{
	    	transform: scale(0.9);
			-ms-transform: scale(0.9);
    		-webkit-transform: scale(0.9);
	    }
	   	75% {
	    	transform: scale(1.05);
			-ms-transform: scale(1.05);
    		-webkit-transform: scale(1.05);
	    }
	    90%{
	    	transform: scale(0.95);
			-ms-transform: scale(0.95);
    		-webkit-transform: scale(0.95);
	    }
	    100%{
	    	transform: scale(1);
			-ms-transform: scale(1);
    		-webkit-transform: scale(1);
	    }
	}

	.u-move {
		height: 50px;
		animation-name: translate;
    	animation-duration: 5s;
    	animation-iteration-count: infinite;
    	transition-timing-function: ease-in-out;
    	display: inline-block;

    	/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		height: 0;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			height: 0;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			height: 0;
		}

		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			height: 0;
		}

		/* ----------- Retina Screens ----------- */
		@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (min-resolution: 192dpi) {
			height: 0;
		}

	}

	.u-move-deux {
		height: 50px;
		animation-name: translate-deux;
    	animation-duration: 4s;
    	animation-iteration-count: infinite;
    	transition-timing-function: ease-in-out;
    	display: inline-block;

    	/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		height: 0;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			height: 0;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			height: 0;
		}

		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			height: 0;
		}
	}

	.u-move-trois {
		height: 50px;
		animation-name: translate-trois;
    	animation-duration: 3.5s;
    	animation-iteration-count: infinite;
    	transition-timing-function: ease-in-out;
    	display: inline-block;

    	/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		height: 0;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			height: 0;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			height: 0;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			height: 0;
		}

		/* Portrait IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			height: 0;
		}

		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			height: 0;
		}
	}

	.u-boom{
		animation-name: boom;
		animation-duration: 2s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
    	transition-timing-function: ease-in-out;
    	display: inline-block;
	}

	h2.big-text{
		font-family: 'Francois One', sans-serif;
		font-size: 5vw;
		line-height: 12vh;
		letter-spacing: 0.2rem;
		text-align: center;
		padding-right: 12%;
		padding-left: 12%;

		/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		font-size: 1.4rem;
	  		line-height: 2.2rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			font-size: 1.4rem;
	  		line-height: 2.2rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			font-size: 1.6rem;
	  		line-height: 2.5rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			font-size: 1.8rem;
	  		line-height: 2.5rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			font-size: 1.8rem;
	  		line-height: 2.5rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			font-size: 1.8rem;
	  		line-height: 2.5rem;
	  		padding-right: 14%;
	  		padding-left: 14%;
		}

		/* Portrait IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			font-size: 3.8rem;
	  		line-height: 5.5rem;
	  		padding-right: 12%;
	  		padding-left: 12%;
		}
		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			font-size: 3.5rem;
	  		line-height: 5.3rem;
	  		padding-right: 10%;
	  		padding-left: 10%;
		}

	}

	h2.middle-text{
		font-family: 'Francois One', sans-serif;
		letter-spacing: 0.2rem;
		text-align: center;
		padding-right: 12%;
		padding-left: 12%;

	}

	h3{
		font-family: 'Dosis', sans-serif;
		font-weight: 400;
		font-size: 1.5rem;
		letter-spacing: 0.1rem;

		/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		font-size: 0.8rem;
	  		margin: 0;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
			font-size: 1rem;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			font-size: 1.2rem;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			font-size: 1.2rem;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			font-size: 1.2rem;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			font-size: 1.2rem;
		}

		/* Portrait IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
			font-size: 1.6rem;
		}

		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			font-size: 1.6rem;
		}
	}

	.nav{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: 100;
		pointer-events: none;
		.item-nav{
			font-size: 1.5rem;
			line-height: 2rem;
			list-style: none;
			cursor: pointer;
			pointer-events: all;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  			line-height: 1rem;
	  			margin: 0;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				line-height: 1rem;
	  			margin: 0;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				line-height: 1rem;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				line-height: 1rem;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				line-height: 1rem;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				line-height: 2rem;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				line-height: 2rem;
			}


		}
		.item-nav-art{
			position: absolute;
			top: 45%;
			-ms-transform: rotate(-90deg);
    		-webkit-transform: rotate(-90deg);
    		transform: rotate(-90deg);
			left: 0;
			-webkit-transition: -webkit-transform 2s; 
    		transition: transform 0.6s;
    		pointer-events: all;

    		/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		left: -15px;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				left: -10px;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				left: -30px;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				left: -10px;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				left: -15px;
			}


    		.sliding-u-l-r-l {
			    display: inline-block;
			    position: relative;
			    padding-bottom: 10px;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		padding-bottom: 5px;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					padding-bottom: 5px;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					padding-bottom: 5px;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					padding-bottom: 5px;
				}

				/* Portrait IPAD 3/4 */
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
					padding-bottom: 15px;
				}


			}
			.sliding-u-l-r-l:before {
			    content: '';
			    display: block;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    transition: width 0s ease, background .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					height: 2px;
					display: none;
				}

			}
			.sliding-u-l-r-l:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    background: $vert;
			    transition: width .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}
				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:hover:before {
			    width: 100%;
			    background: $vert;
			    transition: width .5s ease;
			}
			.sliding-u-l-r-l:hover:after {
			    width: 100%;
			    background: transparent;
			    transition: all 0s ease;
			}
		}


		.item-nav-dev{
			position: absolute;
			top: 45%;
			right: 1%;
			-ms-transform: rotate(90deg);
    		-webkit-transform: rotate(90deg);
    		transform: rotate(90deg);
    		pointer-events: all;

    		/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		right: -5px;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				right: -18px;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				right: 0;
			}
	

    		.sliding-u-l-r-l {
			    display: inline-block;
			    position: relative;
			    padding-bottom: 10px;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		padding-bottom: 5px;;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					padding-bottom: 5px;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					padding-bottom: 5px;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					padding-bottom: 5px;
				}

				/* Portrait IPAD 3/4 */
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
					padding-bottom: 15px;
				}
			}
			.sliding-u-l-r-l:before {
			    content: '';
			    display: block;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    transition: width 0s ease, background .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    background: $rouge;
			    transition: width .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:hover:before {
			    width: 100%;
			    background: $rouge;
			    transition: width .5s ease;
			}
			.sliding-u-l-r-l:hover:after {
			    width: 100%;
			    background: transparent;
			    transition: all 0s ease;
			}

    		
		}
		.item-nav-info{
			position: absolute;
			bottom: 9%;
			right: 47.5%;
			height: 30px;
			width: 5%;
			pointer-events: all;
			text-align: center;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		bottom: 12vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				bottom: 6vh;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				bottom: 6vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				bottom: 8vh;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				bottom: 7vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				bottom: 6vh;
			}


			.sliding-u-l-r-l {
			    display: inline-block;
			    position: relative;
			    padding-bottom: 10px;
			}
			.sliding-u-l-r-l:before {
			    content: '';
			    display: block;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    transition: width 0s ease, background .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    background: $jaune;
			    transition: width .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}

			}
			.sliding-u-l-r-l:hover:before {
			    width: 100%;
			    background: $jaune;
			    transition: width .5s ease;
			}
			.sliding-u-l-r-l:hover:after {
			    width: 100%;
			    background: transparent;
			    transition: all 0s ease;
			}
		}

		.item-nav-main{
			position: absolute;
			top: 0;
			right: 47.5%;
			height: 30px;
			width: 5%;
			pointer-events: all;
			text-align: center;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		top: 5vh;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				top: 6vh;
			}

			.sliding-u-l-r-l {
			    display: inline-block;
			    position: relative;
			    padding-bottom: 10px;
			}
			.sliding-u-l-r-l:before {
			    content: '';
			    display: block;
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    transition: width 0s ease, background .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:after {
			    content: '';
			    display: block;
			    position: absolute;
			    right: 0;
			    bottom: 0;
			    height: 4px;
			    width: 0;
			    background: $bleu;
			    transition: width .5s ease;

			    /* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		// height: 2px;
			  		display: none;
				}

			    /* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					// height: 2px;
					display: none;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					// height: 2px;
					display: none;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					// height: 2px;
					display: none;
				}
			}
			.sliding-u-l-r-l:hover:before {
			    width: 100%;
			    background: $bleu;
			    transition: width .5s ease;
			}
			.sliding-u-l-r-l:hover:after {
			    width: 100%;
			    background: transparent;
			    transition: all 0s ease;
			}
		}


	}


	section{
		position: fixed;
		top: 5vh;
		left: 0;
		width: 100vw;
		height: 95vh;

		/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		top: 8vh;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			top: 12vh;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			top: 10vh;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			top: 12vh;
		}

	}

	section.loader{
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 9999;
		width: 100vw;
		height: 100vh;
		background-color: $gris;
		// opacity: 1;
		display: none;

		div.container-loader{

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		padding-top: 22vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				top: 12vh;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				top: 25vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				top: 12vh;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				top: 15vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				padding-top: 22vh;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				padding-top: 15vh;
			}

		}

		span.load-text{
			font-size: 5rem;
			font-weight: 500;
			line-height: 0;
			text-align: center;
			width: 100%;
			margin: 15% auto 0 auto;
			
			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 2rem;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 2.5rem;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 2rem;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 2.5rem;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 2.5rem;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 4rem;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				font-size: 4rem;
			}

		}
		div.shadow{
			width: 3%;
			height: 5px;
			margin: 0 auto;
			border-radius: 50%;
			background-color: rgba(44, 61, 117, 0);
			box-shadow: 2px 8px 1px $bleu;
			animation-name: scale;
    		animation-duration: 5s;
    		animation-iteration-count: infinite;
    		transition-timing-function: ease-in-out;
		}
		h2.load-text{
			font-family: 'Dosis', sans-serif;
			letter-spacing: 0.2rem;
			font-size: 1.2rem;
			font-weight: 500;
			line-height: 1.7rem;
			text-align: center;
			width: 80%;
			margin: 5% auto 0 auto;

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 1rem;
				line-height: 1.4rem;
				width: 85%;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 1.2rem;
				line-height: 1.8rem;
				width: 85%;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1.2rem;
				line-height: 1.8rem;
				width: 85%;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 1.5rem;
				line-height: 2rem;
				width: 85%;
			}
		}
	}

	
	section.main{
		position: relative;
		z-index: 5;
		width: 95%;
		height: 90%;
		margin: 0 auto;
		opacity: 0;

		/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		width: 100vw;
	  		height: 100vh;
			margin-top: 0;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			margin-top: 5vh;
		}

		/* Portrait Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
			margin-top: 12vh;;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			margin-top: 15vh;
		}

		/* Landscape IPAD 3/4 */
		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
			margin-top: 12vh;
		}



		.main-text{
			z-index: 100;
		}
	}

	section.art{
		z-index: 2;
 
		h2.art-text{
			font-family: 'Dosis', sans-serif;
			font-weight: 400;
			font-size: 3.5vw;
			line-height: 9vh;
			z-index: 100;
			margin-top: 8vh;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 1.1rem;
    			line-height: 1.7rem;
    			margin-top: 2vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 1.1rem;
    			line-height: 1.7rem;
    			margin-top: 0;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 1.3rem;
    			line-height: 1.8rem;
    			margin-top: 3vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1.4rem;
    			line-height: 1.8rem;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				font-size: 1.3rem;
    			line-height: 1.8rem;
    			margin-top: 7vh;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 1.4rem;
    			line-height: 1.8rem;
				margin-top: 12vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 3rem;
    			line-height: 3.8rem;
    			margin-top: 6vh;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				font-size: 4rem;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				font-size: 2.5rem;
    			line-height: 3.2rem;
				margin-top: 12vh;
			}

		}
		img.img-art{
			position: absolute;
			top: 15%;
			left: 30%;
			width: 30%;
			height: auto;
			z-index: -1;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		width: 70%;
		  		left: 15% !important;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 30%;
		  		left: 35% !important;
		  		top: 12%;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 70%;
		  		left: 15% !important;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				width: 35%;
		  		left: 32.5% !important;
		  		top: 10%;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				width: 70%;
		  		left: 15% !important;
		  		top: 12%;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				width: 60%;
				left: 20% !important;
				top: 25%;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				top: 22%;
			}


		}
	}

	section.info{
		width: 100%;
		z-index: 2;
		// top: 0;

		/* Portrait Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	  		top: 3vh;
		}

		/* Landscape Iphone 5 */
		@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
			top: 9vh;
		}

		/* Portrait Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
			top: 8vh;
		}

		/* Landscape Iphone 6 */
		@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
			top: 10vh;
		}

		/* Landscape Iphone 6+++ */
		@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
			top: 12vh;
		}

		img.img-info{
			position: absolute;
			// top: 15%;
			left: 35%;
			bottom: 30%;
			width: 30%;
			height: auto;
			z-index: -1;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		width: 60%;
		  		left: 20% !important;
		  		bottom: 43% !important;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 35%;
			    left: 32.5% !important;
			    bottom: 30% !important;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 60%;
		  		left: 20% !important;
		  		bottom: 50% !important;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				width: 35%;
			    left: 32.5% !important;
			    bottom: 25% !important;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				width: 60%;
				left: 20% !important;
				top: 25%;
			}


		}
		div.container{
			width: 70%;
			margin: 6vh auto 0 auto;

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 75%;
				margin: 4vh auto 0 auto;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 70%;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1rem;
		  		margin: 9vh auto 0 auto;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				margin: 12vh auto 0 auto;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				margin: 7vh auto 0 auto;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				margin: 8vh auto 0 auto;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				margin: 15vh auto 0 auto;
			}


		}
		h2.info-text{
			font-family: 'Dosis', sans-serif;
			font-weight: 400;
			font-size: 2.2vw;
			line-height: 5vh;
			text-align: center;
			z-index: 100;
			margin-top: 12vh;
			
			/* Portrait */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 0.9rem;
		  		line-height: 1.3rem;
		  		margin-top: 0;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 0.9rem;
		  		line-height: 1.2rem;
				margin-top: 0;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 1rem;
		  		line-height: 1.3rem;
		  		margin-top: 0;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1rem;
		  		line-height: 1.3rem;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 1.1rem;
		  		line-height: 1.4rem;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 1.8rem;
		  		line-height: 2.5rem;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				font-size: 1.6rem;
		  		line-height: 2.2rem;
			}
		}

		.social{
			width: 30rem;
			margin: 8vh auto 0 auto;
			font-size: 1.5rem;
			
			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		width: 62vw;
    			margin: 3vh 14vw 0 auto;
		  		font-size: 1rem;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 40vw;
    			margin: 0vh 27vw 0 auto;
    			font-size: 1rem;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 62vw;
    			margin: 3vh 14vw 0 auto;
		  		font-size: 1rem;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				width: 40vw;
    			margin: 0vh 27vw 0 auto;
		  		font-size: 1rem;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				width: 40vw;
    			margin: 0vh 28vw 0 auto;
		  		font-size: 1rem;
			}



			ul{
				padding-left: 0;
				text-align: center;
				list-style-type: none;
			li{
				display: inline-block;
				margin-right: 1.5rem;
				pointer: cursor;
				
				/* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		margin-right: 1.3rem;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					margin-right: 1.4rem;
				}

				i{
					color: $bleu;
					transition: transform 0.4s;
					&:hover{
						transform: scale(1.5);
						color: $jaune;
					}
				}

			}
			.cv{

				/* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		display: none !important;
				}

				/* Landscape Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
					display: none !important;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					display: none !important;
				}

				/* Landscape Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
					display: none !important;
				}

				/* Landscape Iphone 6+++ */
				@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
					display: none !important;
				}
			}
		}
			li:nth-child(6){
				margin-right: 0;
			}
		}
	}

	section.dev{
		z-index: 2;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		h2.dev-text{
			// position: absolute;
			display: block;
			font-family: 'Dosis', sans-serif;
			font-weight: 400;
			font-size: 3.5vw;
			line-height: 9vh;
			z-index: 100;
			margin-top: 8vh;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 1.1rem;
    			line-height: 1.7rem;
    			margin-top: 2vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 1.1rem;
    			line-height: 1.7rem;
    			margin-top: 0;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 1.3rem;
    			line-height: 1.8rem;
    			margin-top: 3vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1.3rem;
    			line-height: 1.8rem;
    			margin-top: 3vh;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				margin-top: 5vh;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 1.4rem;
    			line-height: 1.8rem;
				margin-top: 8vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 3rem;
    			line-height: 3.8rem;
    			margin-top: 6vh;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				font-size: 2.5rem;
    			line-height: 3.2rem;
				margin-top: 12vh;
			}

		}
		img.img-dev{
			position: absolute;
			top: 15%;
			right: 30%;
			width: 30%;
			height: auto;
			z-index: -1;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		width: 70%;
		  		left: 15% !important;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 30%;
		  		left: 35% !important;
		  		top: 12%;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 70%;
		  		left: 15% !important;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				width: 35%;
		  		left: 32.5% !important;
		  		top: 10%;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				width: 70%;
		  		left: 15% !important;
		  		top: 12%;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				width: 60%;
				left: 20% !important;
				top: 25%;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				top: 22%;
			}

		}
	}

	.project{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 10;
		text-align: center;

		img.back{
			// font-size: 2rem;
			width: 20px;
			height: 20px;
			// height: auto;
			position: absolute;
			top: 5.5rem;
			left: 3%;
			cursor: pointer;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		width: 15px;
		  		height: 15px;
		  		left: 7%;
		  		top: 5rem;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				width: 15px;
		  		height: 15px;
		  		left: 7%;
		  		top: 3rem;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				width: 15px;
		  		height: 15px;
		  		left: 7%;
		  		top: 5.5rem;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				width: 15px;
		  		height: 15px;
		  		left: 7%;
		  		top: 3rem;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				top: 6rem;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				width: 15px;
		  		height: 15px;
		  		left: 7%;
		  		top: 3.5rem;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				top: 6rem;
				left: 6%;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				top: 6rem;
				left: 5%;
			}

			&:hover{
				transform: rotate(180deg);
				transition-duration: 0.45s;
				transform-origin: 50% 50%;
			}
		}

		h2.title-projet{
			font-family: 'Francois One', sans-serif;
			font-size: 1.8rem;
			line-height: 2.2rem;
			margin-bottom: 0;
			margin-top: 11vh;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0;
				margin-top: 12vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 1rem;
			    line-height: 1.5rem;
			    margin-bottom: 0;
			    margin-top: 13vh;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0;
				margin-top: 12vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0;
				margin-top: 12vh;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0;
				margin-top: 12vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 1.5rem;
				line-height: 2rem;
				margin-bottom: 0;
				margin-top: 8vh;
			}


		}

		p.description{
			font-family: 'Dosis', sans-serif;
			font-size: 1.3rem;
			line-height: 1.7rem;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		font-size: 0.8rem;
				line-height: 1.2rem;
				padding: 5%;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				font-size: 0.8rem;
				line-height: 1.1rem;
				padding: 0 5% 0 5%;
				margin-top: 0;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				font-size: 0.8rem;
				line-height: 1.2rem;
				padding: 5%;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				font-size: 0.8rem;
				line-height: 1.2rem;
				padding: 0;
				margin-top: 0;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				font-size: 0.8rem;
				line-height: 1.2rem;
				padding: 0;
				margin-top: 0;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				font-size: 1rem;
				line-height: 1.4rem;
				padding: 0;
				margin-top: 0;
			}
		}

		.container{
			position: absolute;
			right: 10vw;
		    left: 10vw;
		    width: 80vw;
		    height: 60vh;
			overflow: hidden;

			/* Portrait Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
		  		right: 18vw;
			    left: 12vw;
			    width: 70vw;
			    height: 50vh;
			}

			/* Landscape Iphone 5 */
			@media only screen and (min-device-width: 320px) and (max-device-width: 568px)and (orientation: landscape) {
				right: 18vw;
			    left: 9vw;
			    width: 80vw;
			    height: 60vh;
			}

			/* Portrait Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
				right: 18vw;
			    left: 12vw;
			    width: 70vw;
			    height: 50vh;
			}

			/* Landscape Iphone 6 */
			@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) { 
				right: 18vw;
			    left: 12vw;
			    width: 70vw;
			    height: 55vh;
			}

			/* Portrait Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) { 
				right: 15vw;
			    left: 8vw;
			    width: 75vw;
			    height: 50vh;
			    margin-top: 5vh;
			}

			/* Landscape Iphone 6+++ */
			@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) { 
				left: 18vh;
			}

			/* Portrait IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
				right: 12vw;
			    left: 8vw;
			    width: 75vw;
			    height: 50vh;
			    margin-top: 15vh;
			}

			/* Landscape IPAD 3/4 */
			@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
				left: 7vh;
			}
   
		
			.slide{
				width: auto;
				height: 85%;
				position: absolute;
				// max-width: 100%;
				// max-height: 100%;
				transform-origin: center center;
				cursor: pointer;
				cursor: hand;
				// opacity: 0;

				/* Portrait Iphone 5 */
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
			  		width: 80%;
					height: auto;
				}

				/* Portrait Iphone 6 */
				@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) { 
					width: 80%;
					height: auto;
				}

				/* Portrait IPAD 3/4 */
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
					width: 70%;
					height: auto;
				}

				/* Landscape IPAD 3/4 */
				@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
					width: 65%;
					height: auto;
				}


			}
		}

	}


}
