html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #f2f2f2; }

body {
  min-height: 100%;
  color: #2c3d75;
  position: relative; }
  body a {
    color: #2c3d75;
    text-decoration: none;
    font-weight: 400;
    outline: none; }
  body a:focus {
    outline: 0; }
  body .vert {
    color: #1b5846; }
  body .jaune {
    color: #ead272; }
  body .rouge {
    color: #c73f43; }
  body .span {
    font-family: 'Dosis', sans-serif;
    font-weight: 700; }
  body .hide {
    display: none; }
  body .show {
    display: block; }
  body .u-open {
    opacity: 1;
    visibility: visible; }
  body .u-close {
    opacity: 0;
    visibility: hidden; }

@keyframes translate-trois {
  0% {
    transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px); }
  25% {
    transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px); }
  50% {
    transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px); }
  75% {
    transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px); }
  100% {
    transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -webkit-transform: translateY(-2px); } }

@keyframes translate-deux {
  0% {
    transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }
  25% {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px); }
  50% {
    transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }
  75% {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px); }
  100% {
    transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px); } }

@keyframes translate {
  0% {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px); }
  25% {
    transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }
  50% {
    transform: translateY(2px);
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px); }
  75% {
    transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px); }
  100% {
    transform: translateY(3px);
    -ms-transform: translateY(3px);
    -webkit-transform: translateY(3px); } }

@keyframes scale {
  0% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); }
  25% {
    transform: scale(0.75);
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75); }
  50% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); }
  75% {
    transform: scale(0.75);
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75); }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); } }

@keyframes boom {
  0% {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  20% {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  45% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); }
  60% {
    transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9); }
  75% {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05); }
  90% {
    transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95); }
  100% {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1); } }
  body .u-move {
    height: 50px;
    animation-name: translate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
    display: inline-block;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Portrait IPAD 3/4 */
    /* Landscape IPAD 3/4 */
    /* ----------- Retina Screens ----------- */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      body .u-move {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body .u-move {
        height: 0; } }
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (min-resolution: 192dpi) {
      body .u-move {
        height: 0; } }
  body .u-move-deux {
    height: 50px;
    animation-name: translate-deux;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
    display: inline-block;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Portrait IPAD 3/4 */
    /* Landscape IPAD 3/4 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      body .u-move-deux {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body .u-move-deux {
        height: 0; } }
  body .u-move-trois {
    height: 50px;
    animation-name: translate-trois;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
    display: inline-block;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Portrait IPAD 3/4 */
    /* Landscape IPAD 3/4 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      body .u-move-trois {
        height: 0; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body .u-move-trois {
        height: 0; } }
  body .u-boom {
    animation-name: boom;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
    display: inline-block; }
  body h2.big-text {
    font-family: 'Francois One', sans-serif;
    font-size: 5vw;
    line-height: 12vh;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-right: 12%;
    padding-left: 12%;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Portrait IPAD 3/4 */
    /* Landscape IPAD 3/4 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body h2.big-text {
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body h2.big-text {
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body h2.big-text {
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body h2.big-text {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body h2.big-text {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body h2.big-text {
        font-size: 1.8rem;
        line-height: 2.5rem;
        padding-right: 14%;
        padding-left: 14%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      body h2.big-text {
        font-size: 3.8rem;
        line-height: 5.5rem;
        padding-right: 12%;
        padding-left: 12%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body h2.big-text {
        font-size: 3.5rem;
        line-height: 5.3rem;
        padding-right: 10%;
        padding-left: 10%; } }
  body h2.middle-text {
    font-family: 'Francois One', sans-serif;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-right: 12%;
    padding-left: 12%; }
  body h3 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Portrait IPAD 3/4 */
    /* Landscape IPAD 3/4 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body h3 {
        font-size: 0.8rem;
        margin: 0; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body h3 {
        font-size: 1rem; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body h3 {
        font-size: 1.2rem; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body h3 {
        font-size: 1.2rem; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body h3 {
        font-size: 1.2rem; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body h3 {
        font-size: 1.2rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
      body h3 {
        font-size: 1.6rem; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body h3 {
        font-size: 1.6rem; } }
  body .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    pointer-events: none; }
    body .nav .item-nav {
      font-size: 1.5rem;
      line-height: 2rem;
      list-style: none;
      cursor: pointer;
      pointer-events: all;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .nav .item-nav {
          line-height: 1rem;
          margin: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .nav .item-nav {
          line-height: 1rem;
          margin: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .nav .item-nav {
          line-height: 1rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .nav .item-nav {
          line-height: 1rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .nav .item-nav {
          line-height: 1rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .nav .item-nav {
          line-height: 2rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .nav .item-nav {
          line-height: 2rem; } }
    body .nav .item-nav-art {
      position: absolute;
      top: 45%;
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      left: 0;
      -webkit-transition: -webkit-transform 2s;
      transition: transform 0.6s;
      pointer-events: all;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .nav .item-nav-art {
          left: -15px; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .nav .item-nav-art {
          left: -10px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .nav .item-nav-art {
          left: -30px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .nav .item-nav-art {
          left: -10px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .nav .item-nav-art {
          left: -15px; } }
      body .nav .item-nav-art .sliding-u-l-r-l {
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */
        /* Portrait IPAD 3/4 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l {
            padding-bottom: 15px; } }
      body .nav .item-nav-art .sliding-u-l-r-l:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        transition: width 0s ease, background .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l:before {
            height: 2px;
            display: none; } }
      body .nav .item-nav-art .sliding-u-l-r-l:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background: #1b5846;
        transition: width .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-art .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-art .sliding-u-l-r-l:after {
            display: none; } }
      body .nav .item-nav-art .sliding-u-l-r-l:hover:before {
        width: 100%;
        background: #1b5846;
        transition: width .5s ease; }
      body .nav .item-nav-art .sliding-u-l-r-l:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }
    body .nav .item-nav-dev {
      position: absolute;
      top: 45%;
      right: 1%;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      pointer-events: all;
      /* Portrait Iphone 5 */
      /* Portrait Iphone 6 */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .nav .item-nav-dev {
          right: -5px; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .nav .item-nav-dev {
          right: -18px; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .nav .item-nav-dev {
          right: 0; } }
      body .nav .item-nav-dev .sliding-u-l-r-l {
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */
        /* Portrait IPAD 3/4 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l {
            padding-bottom: 5px; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l {
            padding-bottom: 15px; } }
      body .nav .item-nav-dev .sliding-u-l-r-l:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        transition: width 0s ease, background .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l:before {
            display: none; } }
      body .nav .item-nav-dev .sliding-u-l-r-l:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background: #c73f43;
        transition: width .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-dev .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-dev .sliding-u-l-r-l:after {
            display: none; } }
      body .nav .item-nav-dev .sliding-u-l-r-l:hover:before {
        width: 100%;
        background: #c73f43;
        transition: width .5s ease; }
      body .nav .item-nav-dev .sliding-u-l-r-l:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }
    body .nav .item-nav-info {
      position: absolute;
      bottom: 9%;
      right: 47.5%;
      height: 30px;
      width: 5%;
      pointer-events: all;
      text-align: center;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .nav .item-nav-info {
          bottom: 12vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .nav .item-nav-info {
          bottom: 6vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .nav .item-nav-info {
          bottom: 6vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .nav .item-nav-info {
          bottom: 8vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .nav .item-nav-info {
          bottom: 7vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .nav .item-nav-info {
          bottom: 6vh; } }
      body .nav .item-nav-info .sliding-u-l-r-l {
        display: inline-block;
        position: relative;
        padding-bottom: 10px; }
      body .nav .item-nav-info .sliding-u-l-r-l:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        transition: width 0s ease, background .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-info .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-info .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-info .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-info .sliding-u-l-r-l:before {
            display: none; } }
      body .nav .item-nav-info .sliding-u-l-r-l:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background: #ead272;
        transition: width .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-info .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-info .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-info .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-info .sliding-u-l-r-l:after {
            display: none; } }
      body .nav .item-nav-info .sliding-u-l-r-l:hover:before {
        width: 100%;
        background: #ead272;
        transition: width .5s ease; }
      body .nav .item-nav-info .sliding-u-l-r-l:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }
    body .nav .item-nav-main {
      position: absolute;
      top: 0;
      right: 47.5%;
      height: 30px;
      width: 5%;
      pointer-events: all;
      text-align: center;
      /* Portrait Iphone 5 */
      /* Portrait Iphone 6 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .nav .item-nav-main {
          top: 5vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .nav .item-nav-main {
          top: 6vh; } }
      body .nav .item-nav-main .sliding-u-l-r-l {
        display: inline-block;
        position: relative;
        padding-bottom: 10px; }
      body .nav .item-nav-main .sliding-u-l-r-l:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        transition: width 0s ease, background .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-main .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-main .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-main .sliding-u-l-r-l:before {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-main .sliding-u-l-r-l:before {
            display: none; } }
      body .nav .item-nav-main .sliding-u-l-r-l:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 4px;
        width: 0;
        background: #2c3d75;
        transition: width .5s ease;
        /* Portrait Iphone 5 */
        /* Landscape Iphone 5 */
        /* Portrait Iphone 6 */
        /* Landscape Iphone 6 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .nav .item-nav-main .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
          body .nav .item-nav-main .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .nav .item-nav-main .sliding-u-l-r-l:after {
            display: none; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
          body .nav .item-nav-main .sliding-u-l-r-l:after {
            display: none; } }
      body .nav .item-nav-main .sliding-u-l-r-l:hover:before {
        width: 100%;
        background: #2c3d75;
        transition: width .5s ease; }
      body .nav .item-nav-main .sliding-u-l-r-l:hover:after {
        width: 100%;
        background: transparent;
        transition: all 0s ease; }
  body section {
    position: fixed;
    top: 5vh;
    left: 0;
    width: 100vw;
    height: 95vh;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body section {
        top: 8vh; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body section {
        top: 12vh; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body section {
        top: 10vh; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body section {
        top: 12vh; } }
  body section.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    display: none; }
    body section.loader div.container-loader {
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.loader div.container-loader {
          padding-top: 22vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.loader div.container-loader {
          top: 12vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.loader div.container-loader {
          top: 25vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.loader div.container-loader {
          top: 12vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.loader div.container-loader {
          top: 15vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.loader div.container-loader {
          padding-top: 22vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.loader div.container-loader {
          padding-top: 15vh; } }
    body section.loader span.load-text {
      font-size: 5rem;
      font-weight: 500;
      line-height: 0;
      text-align: center;
      width: 100%;
      margin: 15% auto 0 auto;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.loader span.load-text {
          font-size: 2rem; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.loader span.load-text {
          font-size: 2.5rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.loader span.load-text {
          font-size: 2rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.loader span.load-text {
          font-size: 2.5rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.loader span.load-text {
          font-size: 2.5rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.loader span.load-text {
          font-size: 4rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.loader span.load-text {
          font-size: 4rem; } }
    body section.loader div.shadow {
      width: 3%;
      height: 5px;
      margin: 0 auto;
      border-radius: 50%;
      background-color: rgba(44, 61, 117, 0);
      box-shadow: 2px 8px 1px #2c3d75;
      animation-name: scale;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      transition-timing-function: ease-in-out; }
    body section.loader h2.load-text {
      font-family: 'Dosis', sans-serif;
      letter-spacing: 0.2rem;
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 1.7rem;
      text-align: center;
      width: 80%;
      margin: 5% auto 0 auto;
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.loader h2.load-text {
          font-size: 1rem;
          line-height: 1.4rem;
          width: 85%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.loader h2.load-text {
          font-size: 1.2rem;
          line-height: 1.8rem;
          width: 85%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.loader h2.load-text {
          font-size: 1.2rem;
          line-height: 1.8rem;
          width: 85%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.loader h2.load-text {
          font-size: 1.5rem;
          line-height: 2rem;
          width: 85%; } }
  body section.main {
    position: relative;
    z-index: 5;
    width: 95%;
    height: 90%;
    margin: 0 auto;
    opacity: 0;
    /* Portrait Iphone 5 */
    /* Portrait Iphone 6 */
    /* Portrait Iphone 6+++ */
    /* Landscape Iphone 6+++ */
    /* Landscape IPAD 3/4 */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body section.main {
        width: 100vw;
        height: 100vh;
        margin-top: 0; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body section.main {
        margin-top: 5vh; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
      body section.main {
        margin-top: 12vh; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body section.main {
        margin-top: 15vh; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
      body section.main {
        margin-top: 12vh; } }
    body section.main .main-text {
      z-index: 100; }
  body section.art {
    z-index: 2; }
    body section.art h2.art-text {
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      font-size: 3.5vw;
      line-height: 9vh;
      z-index: 100;
      margin-top: 8vh;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.art h2.art-text {
          font-size: 1.1rem;
          line-height: 1.7rem;
          margin-top: 2vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.art h2.art-text {
          font-size: 1.1rem;
          line-height: 1.7rem;
          margin-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.art h2.art-text {
          font-size: 1.3rem;
          line-height: 1.8rem;
          margin-top: 3vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.art h2.art-text {
          font-size: 1.4rem;
          line-height: 1.8rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.art h2.art-text {
          font-size: 1.3rem;
          line-height: 1.8rem;
          margin-top: 7vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.art h2.art-text {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin-top: 12vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.art h2.art-text {
          font-size: 3rem;
          line-height: 3.8rem;
          margin-top: 6vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.art h2.art-text {
          font-size: 4rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.art h2.art-text {
          font-size: 2.5rem;
          line-height: 3.2rem;
          margin-top: 12vh; } }
    body section.art img.img-art {
      position: absolute;
      top: 15%;
      left: 30%;
      width: 30%;
      height: auto;
      z-index: -1;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.art img.img-art {
          width: 70%;
          left: 15% !important; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.art img.img-art {
          width: 30%;
          left: 35% !important;
          top: 12%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.art img.img-art {
          width: 70%;
          left: 15% !important; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.art img.img-art {
          width: 35%;
          left: 32.5% !important;
          top: 10%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.art img.img-art {
          width: 70%;
          left: 15% !important;
          top: 12%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.art img.img-art {
          width: 60%;
          left: 20% !important;
          top: 25%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.art img.img-art {
          top: 22%; } }
  body section.info {
    width: 100%;
    z-index: 2;
    /* Portrait Iphone 5 */
    /* Landscape Iphone 5 */
    /* Portrait Iphone 6 */
    /* Landscape Iphone 6 */
    /* Landscape Iphone 6+++ */ }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
      body section.info {
        top: 3vh; } }
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
      body section.info {
        top: 9vh; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
      body section.info {
        top: 8vh; } }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
      body section.info {
        top: 10vh; } }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
      body section.info {
        top: 12vh; } }
    body section.info img.img-info {
      position: absolute;
      left: 35%;
      bottom: 30%;
      width: 30%;
      height: auto;
      z-index: -1;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.info img.img-info {
          width: 60%;
          left: 20% !important;
          bottom: 43% !important; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.info img.img-info {
          width: 35%;
          left: 32.5% !important;
          bottom: 30% !important; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.info img.img-info {
          width: 60%;
          left: 20% !important;
          bottom: 50% !important; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.info img.img-info {
          width: 35%;
          left: 32.5% !important;
          bottom: 25% !important; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.info img.img-info {
          width: 60%;
          left: 20% !important;
          top: 25%; } }
    body section.info div.container {
      width: 70%;
      margin: 6vh auto 0 auto;
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.info div.container {
          width: 75%;
          margin: 4vh auto 0 auto; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.info div.container {
          width: 70%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.info div.container {
          font-size: 1rem;
          margin: 9vh auto 0 auto; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.info div.container {
          margin: 12vh auto 0 auto; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.info div.container {
          margin: 7vh auto 0 auto; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.info div.container {
          margin: 8vh auto 0 auto; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.info div.container {
          margin: 15vh auto 0 auto; } }
    body section.info h2.info-text {
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      font-size: 2.2vw;
      line-height: 5vh;
      text-align: center;
      z-index: 100;
      margin-top: 12vh;
      /* Portrait */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.info h2.info-text {
          font-size: 0.9rem;
          line-height: 1.3rem;
          margin-top: 0; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.info h2.info-text {
          font-size: 0.9rem;
          line-height: 1.2rem;
          margin-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.info h2.info-text {
          font-size: 1rem;
          line-height: 1.3rem;
          margin-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.info h2.info-text {
          font-size: 1rem;
          line-height: 1.3rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.info h2.info-text {
          font-size: 1.1rem;
          line-height: 1.4rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.info h2.info-text {
          font-size: 1.8rem;
          line-height: 2.5rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.info h2.info-text {
          font-size: 1.6rem;
          line-height: 2.2rem; } }
    body section.info .social {
      width: 30rem;
      margin: 8vh auto 0 auto;
      font-size: 1.5rem;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.info .social {
          width: 62vw;
          margin: 3vh 14vw 0 auto;
          font-size: 1rem; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.info .social {
          width: 40vw;
          margin: 0vh 27vw 0 auto;
          font-size: 1rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.info .social {
          width: 62vw;
          margin: 3vh 14vw 0 auto;
          font-size: 1rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.info .social {
          width: 40vw;
          margin: 0vh 27vw 0 auto;
          font-size: 1rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.info .social {
          width: 40vw;
          margin: 0vh 28vw 0 auto;
          font-size: 1rem; } }
      body section.info .social ul {
        padding-left: 0;
        text-align: center;
        list-style-type: none; }
        body section.info .social ul li {
          display: inline-block;
          margin-right: 1.5rem;
          pointer: cursor;
          /* Portrait Iphone 5 */
          /* Portrait Iphone 6 */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
            body section.info .social ul li {
              margin-right: 1.3rem; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            body section.info .social ul li {
              margin-right: 1.4rem; } }
          body section.info .social ul li i {
            color: #2c3d75;
            transition: transform 0.4s; }
            body section.info .social ul li i:hover {
              transform: scale(1.5);
              color: #ead272; }
        body section.info .social ul .cv {
          /* Portrait Iphone 5 */
          /* Landscape Iphone 5 */
          /* Portrait Iphone 6 */
          /* Landscape Iphone 6 */
          /* Landscape Iphone 6+++ */ }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
            body section.info .social ul .cv {
              display: none !important; } }
          @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
            body section.info .social ul .cv {
              display: none !important; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            body section.info .social ul .cv {
              display: none !important; } }
          @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
            body section.info .social ul .cv {
              display: none !important; } }
          @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
            body section.info .social ul .cv {
              display: none !important; } }
      body section.info .social li:nth-child(6) {
        margin-right: 0; }
  body section.dev {
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 auto; }
    body section.dev h2.dev-text {
      display: block;
      font-family: 'Dosis', sans-serif;
      font-weight: 400;
      font-size: 3.5vw;
      line-height: 9vh;
      z-index: 100;
      margin-top: 8vh;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.dev h2.dev-text {
          font-size: 1.1rem;
          line-height: 1.7rem;
          margin-top: 2vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.dev h2.dev-text {
          font-size: 1.1rem;
          line-height: 1.7rem;
          margin-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.dev h2.dev-text {
          font-size: 1.3rem;
          line-height: 1.8rem;
          margin-top: 3vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.dev h2.dev-text {
          font-size: 1.3rem;
          line-height: 1.8rem;
          margin-top: 3vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.dev h2.dev-text {
          margin-top: 5vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body section.dev h2.dev-text {
          font-size: 1.4rem;
          line-height: 1.8rem;
          margin-top: 8vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.dev h2.dev-text {
          font-size: 3rem;
          line-height: 3.8rem;
          margin-top: 6vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.dev h2.dev-text {
          font-size: 2.5rem;
          line-height: 3.2rem;
          margin-top: 12vh; } }
    body section.dev img.img-dev {
      position: absolute;
      top: 15%;
      right: 30%;
      width: 30%;
      height: auto;
      z-index: -1;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body section.dev img.img-dev {
          width: 70%;
          left: 15% !important; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body section.dev img.img-dev {
          width: 30%;
          left: 35% !important;
          top: 12%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body section.dev img.img-dev {
          width: 70%;
          left: 15% !important; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body section.dev img.img-dev {
          width: 35%;
          left: 32.5% !important;
          top: 10%; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body section.dev img.img-dev {
          width: 70%;
          left: 15% !important;
          top: 12%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body section.dev img.img-dev {
          width: 60%;
          left: 20% !important;
          top: 25%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body section.dev img.img-dev {
          top: 22%; } }
  body .project {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    text-align: center; }
    body .project img.back {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 5.5rem;
      left: 3%;
      cursor: pointer;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .project img.back {
          width: 15px;
          height: 15px;
          left: 7%;
          top: 5rem; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .project img.back {
          width: 15px;
          height: 15px;
          left: 7%;
          top: 3rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .project img.back {
          width: 15px;
          height: 15px;
          left: 7%;
          top: 5.5rem; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .project img.back {
          width: 15px;
          height: 15px;
          left: 7%;
          top: 3rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body .project img.back {
          top: 6rem; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .project img.back {
          width: 15px;
          height: 15px;
          left: 7%;
          top: 3.5rem; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .project img.back {
          top: 6rem;
          left: 6%; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .project img.back {
          top: 6rem;
          left: 5%; } }
      body .project img.back:hover {
        transform: rotate(180deg);
        transition-duration: 0.45s;
        transform-origin: 50% 50%; }
    body .project h2.title-projet {
      font-family: 'Francois One', sans-serif;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 0;
      margin-top: 11vh;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .project h2.title-projet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-top: 12vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .project h2.title-projet {
          font-size: 1rem;
          line-height: 1.5rem;
          margin-bottom: 0;
          margin-top: 13vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .project h2.title-projet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-top: 12vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .project h2.title-projet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-top: 12vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .project h2.title-projet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-top: 12vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .project h2.title-projet {
          font-size: 1.5rem;
          line-height: 2rem;
          margin-bottom: 0;
          margin-top: 8vh; } }
    body .project p.description {
      font-family: 'Dosis', sans-serif;
      font-size: 1.3rem;
      line-height: 1.7rem;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .project p.description {
          font-size: 0.8rem;
          line-height: 1.2rem;
          padding: 5%; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .project p.description {
          font-size: 0.8rem;
          line-height: 1.1rem;
          padding: 0 5% 0 5%;
          margin-top: 0; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .project p.description {
          font-size: 0.8rem;
          line-height: 1.2rem;
          padding: 5%; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .project p.description {
          font-size: 0.8rem;
          line-height: 1.2rem;
          padding: 0;
          margin-top: 0; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .project p.description {
          font-size: 0.8rem;
          line-height: 1.2rem;
          padding: 0;
          margin-top: 0; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .project p.description {
          font-size: 1rem;
          line-height: 1.4rem;
          padding: 0;
          margin-top: 0; } }
    body .project .container {
      position: absolute;
      right: 10vw;
      left: 10vw;
      width: 80vw;
      height: 60vh;
      overflow: hidden;
      /* Portrait Iphone 5 */
      /* Landscape Iphone 5 */
      /* Portrait Iphone 6 */
      /* Landscape Iphone 6 */
      /* Portrait Iphone 6+++ */
      /* Landscape Iphone 6+++ */
      /* Portrait IPAD 3/4 */
      /* Landscape IPAD 3/4 */ }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        body .project .container {
          right: 18vw;
          left: 12vw;
          width: 70vw;
          height: 50vh; } }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
        body .project .container {
          right: 18vw;
          left: 9vw;
          width: 80vw;
          height: 60vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        body .project .container {
          right: 18vw;
          left: 12vw;
          width: 70vw;
          height: 50vh; } }
      @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
        body .project .container {
          right: 18vw;
          left: 12vw;
          width: 70vw;
          height: 55vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        body .project .container {
          right: 15vw;
          left: 8vw;
          width: 75vw;
          height: 50vh;
          margin-top: 5vh; } }
      @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
        body .project .container {
          left: 18vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
        body .project .container {
          right: 12vw;
          left: 8vw;
          width: 75vw;
          height: 50vh;
          margin-top: 15vh; } }
      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
        body .project .container {
          left: 7vh; } }
      body .project .container .slide {
        width: auto;
        height: 85%;
        position: absolute;
        transform-origin: center center;
        cursor: pointer;
        cursor: hand;
        /* Portrait Iphone 5 */
        /* Portrait Iphone 6 */
        /* Portrait IPAD 3/4 */
        /* Landscape IPAD 3/4 */ }
        @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
          body .project .container .slide {
            width: 80%;
            height: auto; } }
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
          body .project .container .slide {
            width: 80%;
            height: auto; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
          body .project .container .slide {
            width: 70%;
            height: auto; } }
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
          body .project .container .slide {
            width: 65%;
            height: auto; } }
